body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }

  h1 {
    display: center;
  }
  
  .grid-pod {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .pod {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
  
  .pod:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .pod img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .pod-details {
    margin-top: 10px;
  }
  
  .title1, .pod-subTitle {
    font-size: 18px;
    color: #333;
  }
  
  .pod-subTitle {
    font-size: 16px;
    color: #666;
  }
  
  .prices {
    margin-top: 10px;
    font-size: 16px;
    color: #EB0029;
    font-weight: bold;
  }
  
  .discount-badge {
    background-color: #EB0029;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px; /* Ajustado para alinear con el texto de precios */
  }
  
  .button {
    margin-top: 10px;
    background-color: #007bff; /* Ajustado para unificar con el estilo de .info-wrapper */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .info-wrapper {
    display: flex;
    flex-direction: column; /* Cambiado a column para alinear verticalmente */
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px auto; /* Ajustado para centrar dentro del carrusel */
    max-width: 300px; /* Ajustado según el diseño del carrusel */
  }

  .animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    animation: fadeInOut 2s ease forwards;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
  }